.baty-banners p{
  width: fit-content;
}

.wc-block-next-previous-buttons__button svg{
  padding:0px ;
}
.wp-site-blocks{
  overflow-x: hidden;
}
@media (max-width: 767px) {
    .has-global-padding {
      padding: 16px;
    }

    .baty-banners .responsive-height {
      min-height: 160px !important;
      width: auto;
      padding: 0px;
    }

    .baty-banners .responsive-height.vases-container img {
      height: 160px !important;
      width: auto;
      padding: 0px;
    }

    .baty-banners .responsive-height.lights-container img {
      height: 130px !important;
      width: auto;
      padding: 0px;
    }

    .baty-banners .responsive-height.chair-container img {
      height: 160px !important;
      width: auto;
      padding: 16px 0px 5px 0px;
    }
  }


.wc-block-mini-cart__button{
  padding: 0px;
}


* {
  box-sizing: border-box;
}

.categories-slider .swiper-slide .image-container {
  min-height: clamp(8.75rem, 1.9195rem + 29.1435vw, 31.063rem);
  height: clamp(8.75rem, 1.9195rem + 29.1435vw, 31.063rem);
  overflow: hidden;
}

.categories-slider .swiper-wrapper {
  gap: 0px !important;
  align-items: stretch;
}

.categories-slider .swiper-slide .image-container:hover img {
  transform: scale(1.2);
}

.categories-slider .swiper-slide .image-container img {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .categories-slider .swiper-slide .image-container + p {
    font-size: 1rem;
    line-clamp: 1;
  }
    .categories-slider, .brands-marquee {
    padding: 8px !important;
  }

  .categories-slider .swiper-wrapper {
    gap: 0px;
    margin: 8px;
  }

  .baty-banners .responsive-height p + p {
    margin-top: 14px !important;
  }
}

.categories-slider
  :is(.swiper-button-next, .swiper-button-prev, .swiper-pagination) {
  display: none;
}

.has-white-color.has-primary-background-color:hover {
  background-color: var(--wp--preset--color--white) !important;
}
.has-white-color.has-primary-background-color:hover a {
  color: var(--wp--preset--color--primary) !important;
}

.has-white-color.has-primary-background-color {
  transition: all 0.3s ease-in-out;
}
.brands-slider .swiper-wrapper{
  transition-timing-function:linear;
}
.brands-slider .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: start;
}
.brands-slider .swiper-slide img{
  object-position: center;
}
.small-categories .swiper-slide .image-container {
  min-height: clamp(2.5rem, 2.1939rem + 1.3061vw, 3.5rem);
  height:clamp(2.5rem, 2.1939rem + 1.3061vw, 3.5rem);
  overflow: hidden;
}
.small-categories .swiper-slide .image-container img{

  object-fit:contain;
}

